.social_icons li a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px rgb(0 0 0 / 50%);
    text-decoration: none;
    color: #555;
}

.social_icons li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b2b2b2;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.social_icons li a::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #e5e5e5;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.social_icons li a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.social_icons li:hover .fa {
    color: #fff;
}

.social_icons li:hover:nth-child(1) a {
    background-color: #3b5999;
}

.social_icons li:hover:nth-child(1) a::before {
    background-color: #2f477a;
}

.social_icons li:hover:nth-child(1) a::after {
    background-color: #4e69a3;
}

.social_icons li:hover:nth-child(2) a {
    background-color: #e4405f;
}

.social_icons li:hover:nth-child(2) a::before {
    background-color: #b6334c;
}

.social_icons li:hover:nth-child(2) a::after {
    background-color: #e6536f;
}

.social_icons li:hover:nth-child(3) a {
    background-color: #55acee;
}

.social_icons li:hover:nth-child(3) a::before {
    background-color: #4489be;
}

.social_icons li:hover:nth-child(3) a::after {
    background-color: #66b4ef;
}

.social_icons li:hover:nth-child(4) a {
    background-color: #dd4b39;
}

.social_icons li:hover:nth-child(4) a::before {
    background-color: #b03c2d;
}

.social_icons li:hover:nth-child(4) a::after {
    background-color: #e05d4c;
}

.social_icons li:hover:nth-child(5) a {
    background-color: #0077b5;
}

.social_icons li:hover:nth-child(5) a::before {
    background-color: #005f90;
}

.social_icons li:hover:nth-child(5) a::after {
    background-color: #1984bc;
}

/* portfolio css */

.portfolio-container {
    position: relative;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
  }
  .portfolio-container .box {
    position: relative;
    width: 340px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
  }
  @media (min-width: 1269px) {
    .portfolio-container:hover .box {
      transform: rotateY(25deg);
    }
    .portfolio-container .box:hover ~ .box {
      transform: rotateY(-25deg);
    }
    .portfolio-container .box:hover {
      transform: rotateY(0deg) scale(1.25);
      z-index: 1;
      box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    }
    .portfolio-container .box .imgBx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .portfolio-container .box .imgBx:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg,#333333  ,#000);
      z-index: 1;
      opacity: 0;
      transition: 0.5s;
      mix-blend-mode: multiply;
    }
    .portfolio-container .box:hover .imgBx:before {
      opacity: 1;
    }
    .portfolio-container .box .imgBx img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .portfolio-container .box .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      padding: 20px;
      align-items: flex-end;
      box-sizing: border-box;
    }
    .portfolio-container .box .content h2 {
  
      transition: 0.3s;
      text-transform: uppercase;
      margin-bottom: 5px;
      transform: translateY(200px);
      transition-delay: 0.3s;
    }
    .portfolio-container .box:hover .content h2 {
      transform: translateY(0px);
    }
    .portfolio-container .box .content p {
  
      transition: 0.3s;
      transform: translateY(200px);
      transition-delay: 0.4s;
    }
    .portfolio-container .box:hover .content p {
      transform: translateY(0px);
    }
    .portfolio-container .box .content button{
      transition: 0.3s;
      transform: translateY(200px);
      transition-delay: 0.4s;
    }
    .portfolio-container .box:hover .content button{
      transform: translateY(0px);
    }
  }
  

  /* about css */
  .profile{
    position: relative;
  }
  .profile::before{
    position: absolute;
    content: '';
    right: -50px;
    top: 50px;
    border: 10px solid rgba(192, 132, 252, 0.63);
    width: 100%;
    height: 100%;
  }

  @media (min-width: 900px) and  (max-width: 1280px) {
    .profile::before{
      position: absolute;
      content: '';
      right: -50px;
      top: 50px;
      border: 10px solid rgba(192, 132, 252, 0.63);
      width: 100%;
      height: 70%;
    }
    .profile{
      margin-right: 60px;
    }
  }

  @media (max-width: 850px) {
    .profile::before{
      position: absolute;
      content: '';
      border: none;
    }
    .profile img{
      width: 100%;
      margin-bottom: 12px;
    }
    .head-text span{
      overflow-wrap: break-word
    }
  }


  /* contact css */
  .button {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;
    font: inherit;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3c2e9e;
    border: none;
    border-radius: 4px;
    overflow: hidden;
}
